
:root {
    --main-color: #AFA5D9;
    --main-darker-color: #afa5d9c5;
    --main-dark: #101010;
  }


html, body, p, .main, h3 {
    background-color: var(--main-dark);
}

.top {
    border-bottom: 3px solid rgb(3, 153, 3);
    background-color: var(--main-dark);
}

.title {
    color:rgb(3, 153, 3);
    font-size: 45px;
    text-align: center;
}

.updatem3uscreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 98;
    background: #000 no-repeat center center;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: var(--main-dark) url('./Preloader.gif') no-repeat center center;
}

.text {
    background-color: var(--main-dark);
    color: white;
    font-size: 38px;
}

.updatebutton {
    background-color: teal;
    border-radius: 25px;
    color: rgba(46, 46, 46, 0.918);
    font-size: 30px;
}

.updatebutton:hover {
    background-color: rgb(2, 66, 66);
}